*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}



body {
    font-family: 'Montserrat';
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.projects__container {
    max-width: 1363px;
    margin: 0 auto;
    padding: 10px 10px;
}
.projects__title-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 43.88px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.projects__swiper-card {
    max-width: 382px;
}

.card__img {
    
}
.card__img img{
    border-radius: 16px 16px 0 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.card__text {
    background-color: #F8F8F8;
    padding: 20px 70px 40px 35px;
    height: 300px;
}
.card__text-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}
.card__text-discription {
    font-size: 15px;    
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.swiper {
    max-width: 1268px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #868686;
    width: 32px;
    height: 32px;
    justify-content: space-between;
}
